table {
    border: 28px solid #3A4965;
    margin: 0 auto;
}
th {
    border: 2px solid #dcdcdc;
    width: 280px;
    text-transform: uppercase;
    color: rgba(72, 72, 72, 1);
   vertical-align: middle;
}

td {
    border: 2px solid #dcdcdc;
    font-weight: normal;
        
Font-size: 16px;
line-height: 28px;
padding-top: 22px;
padding-bottom: 22px;
text-transform: uppercase;
text-align: center;
color: rgba(72, 72, 72, 1);
}

td:first-child {
    width: 313px;
} 
tbody tr:nth-child(odd) {

    background-color: #F2F2F2;

  }

  tbody tr:nth-child(even) {

    background-color: #E3E3E3;

  }
  .head-first-line {
      
      font-weight: bold;
        Font-size: 24px;
    line-height: 28px;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #fff;
  }
  .head-first-line:nth-last-child(1) {
      background-color: #20807C;
      border: none;
  }
  .head-first-line:nth-last-child(2) {
    background-color: #F04A56;
    Font-size: 30px;
    border: none;
}
.head-first-line:nth-last-child(3) {
    background-color: #89C331;
    border: none;
}
.title {
    font-weight: bold;
    Font-size: 30px;
line-height: 28px;
}
.title-span {
    font-weight: bold;
    Font-size: 18px;
line-height: 28px;
}
.product-price {
    font-weight: bold;
    Font-size: 60px;
line-height: 60px;
    padding-bottom: 22px;
}
sup {
    vertical-align: 40px ;
    Font-size: 24px;
    

}
.price {
    padding-top: 12px;
    padding-bottom: 12px;

 
}
sub {
    vertical-align:middle ;
    font-weight: normal;
    Font-size: 16px;
    line-height: 28px;
    text-align: left;
}
.btn {
    font-weight: bold;
        Font-size: 16px;
    line-height: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #484848;
    padding: 17px 57px 9px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    border-bottom: 8px solid #404040;
}
.btn-teal {
    background-color: #20807C;
    border-bottom: 8px solid #16736F;
}
.btn-red {
  background-color: #F04A56;
  border-bottom: 8px solid #DF3A46;
}
.btn-green {
  background-color: #89C331;
  border-bottom: 8px solid #79B027;
}
tfoot td:nth-child(even) {

    background-color: #EEEEEE;

  }
  tfoot td:first-child {
    background-color: #DDDDDD;
  }
  tfoot td:nth-last-child(2) {
    background-color: #F4F4F4;
   
}
tfoot td {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.27));
}