table {
    border: 28px solid #3A4965;
    margin: 0 auto;
    table-layout: fixed;
    }
thead {
    border-bottom: 14px solid #3A4965;
}
th {
    border: 2px solid #dcdcdc;
    width: 155px;
    text-transform: uppercase;
    color: rgba(72, 72, 72, 1);
      font-weight: bold;
   font-size: 20px;
   line-height: 28px;
   vertical-align: middle;
   
   padding-top: 22px;
   padding-bottom: 22px;
  
   
}



td {
    border: 2px solid #dcdcdc;
    font-weight: normal;
    width: 155px;
Font-size: 16px;
line-height: 28px;
padding-top: 12px;
padding-bottom: 12px;
text-transform: uppercase;
text-align: center;
color: rgba(72, 72, 72, 1);
vertical-align: middle;

}


td:nth-child(odd), th:nth-child(odd) {

    background-color: #F2F2F2;

  }

 td:nth-child(even), th:nth-child(even) {

    background-color: #E3E3E3;

  }
  th:first-child {
    width: 200px;
    background-color: #FAFAFA;
} 
  .head-first-line {
      
      font-weight: bold;
        Font-size: 24px;
    line-height: 28px;
    padding-top: 22px;
        color: #fff;
  }
 

  tbody tr:nth-child(1) td:nth-child(1) {
      background-color: #89C331;
      border: none;
  }
  tbody tr:nth-child(2) td:nth-child(1) {
    background-color: #F04A56;
    border: none;
}
tbody tr:nth-child(3) td:nth-child(1) {
    background-color: #20807C;
    border: none;
}

.title {
    font-weight: bold;
    Font-size: 20px;
line-height: 28px;
}
.title-span {
    font-weight: bold;
    Font-size: 14px;
line-height: 28px;
}
.product-price {
    font-weight: bold;
    Font-size: 36px;
line-height: 28px;
    padding-top: 4px;
}
sup {
    vertical-align: super;
    Font-size: 18px;
    

}
.price {
    padding-top: 12px;
    padding-bottom: 12px;

 
}
sub {
    vertical-align:middle ;
    font-weight: bold;
    Font-size: 14px;
    line-height: 28px;
  
}
.btn {
    font-weight: bold;
        Font-size: 16px;
    line-height: 28px;
    margin-top: 8px;
    margin-bottom: 15px;
    color: #fff;
    background-color: #484848;
    padding: 8px 35px 4px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    border-bottom: 4px solid #404040;
  
}


